doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='style-QA.css' rel='stylesheet')
  title QA
header
  img.logo(src='../src/img/logo.svg' alt='логотип скиллдрайв')
  img.menu-mob(src='../src/img/menu_mobile.png' alt='меню')
  .header__nav-and-btn
    nav
      ul
        li
          a(href='#') &Ocy; &ncy;&acy;&scy;
        li
          a(href='#') &Ucy;&scy;&lcy;&ocy;&vcy;&icy;&yacy;
        li
          a(href='#') &CHcy;&acy;&scy;&tcy;&ycy;&iecy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy;
    button &Vcy;&ocy;&jcy;&tcy;&icy;
main
  .image-top
    img(src='../src/img/undraw_questions_75e0 1.svg' alt='заглавное изображение')
  h1 &CHcy;&acy;&scy;&tcy;&ycy;&iecy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy;
  p.subtitle
    | &Ocy;&tcy;&vcy;&iecy;&chcy;&acy;&iecy;&mcy; &ncy;&acy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&iecy; &ucy; &vcy;&acy;&scy; &mcy;&ocy;&gcy;&ucy;&tcy; &vcy;&ocy;&zcy;&ncy;&icy;&kcy;&ncy;&ucy;&tcy;&softcy;
  .content
    button.content__collapsible(type='button')
      | &Mcy;&ocy;&gcy;&ucy; &lcy;&icy; &yacy; &ocy;&tcy;&mcy;&iecy;&ncy;&icy;&tcy;&softcy; &bcy;&rcy;&ocy;&ncy;&softcy;?
    .content__text
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        | ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        | aliquip ex ea commodo consequat.
    button.content__collapsible(type='button')
      | &Mcy;&ocy;&gcy;&ucy; &lcy;&icy; &yacy; &vcy;&iecy;&rcy;&ncy;&ucy;&tcy;&softcy; &dcy;&iecy;&ncy;&softcy;&gcy;&icy;, &iecy;&scy;&lcy;&icy; 
      br
      |           &ncy;&iecy; &pcy;&ocy;&dcy;&ocy;&shcy;&iecy;&lcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&softcy;?
    .content__text
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        | ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        | aliquip ex ea commodo consequat.
    button.content__collapsible(type='button')
      | &CHcy;&tcy;&ocy; &dcy;&iecy;&lcy;&acy;&tcy;&softcy;, &iecy;&scy;&lcy;&icy; &scy;&lcy;&ucy;&chcy;&icy;&lcy;&ocy;&scy;&softcy; &Dcy;&Tcy;&Pcy;?
    .content__text
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        | ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        | aliquip ex ea commodo consequat.
    button.content__collapsible(type='button')
      | &Mcy;&ocy;&gcy;&ucy; &lcy;&icy; &yacy; &ocy;&scy;&tcy;&acy;&vcy;&icy;&tcy;&softcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&softcy; 
      br
      |           &vcy; &ucy;&dcy;&ocy;&bcy;&ncy;&ocy;&mcy; &dcy;&lcy;&yacy; &mcy;&iecy;&ncy;&yacy; &mcy;&iecy;&scy;&tcy;&iecy;?
    .content__text
      p
        | &Dcy;&acy;&ncy;&ncy;&ycy;&jcy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy; &ocy;&bcy;&scy;&ucy;&zhcy;&dcy;&acy;&iecy;&tcy;&scy;&yacy; &scy;&nbsp;&scy;&ocy;&bcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&icy;&kcy;&ocy;&mcy;, &ncy;&ocy; &kcy;&acy;&kcy; &pcy;&rcy;&acy;&vcy;&icy;&lcy;&ocy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&softcy;
        | &ncy;&ucy;&zhcy;&ncy;&ocy; &vcy;&iecy;&rcy;&ncy;&ucy;&tcy;&softcy; &tcy;&ucy;&dcy;&acy;, &gcy;&dcy;&iecy; &vcy;&ycy; &iecy;&gcy;&ocy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&lcy;&icy;.
    button.content__collapsible(type='button')
      | &CHcy;&tcy;&ocy; &dcy;&iecy;&lcy;&acy;&tcy;&softcy;, &iecy;&scy;&lcy;&icy; &scy;&ocy;&bcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&icy;&kcy; &pcy;&rcy;&ocy;&scy;&icy;&tcy; &zcy;&acy;&pcy;&lcy;&acy;&tcy;&icy;&tcy;&softcy; &iecy;&mcy;&ucy; &ncy;&acy;&pcy;&rcy;&yacy;&mcy;&ucy;&yucy;?
    .content__text
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
        | numquam unde necessitatibus nostrum assumenda a ducimus, accusamus
        | voluptates ut, quibusdam molestiae aliquam incidunt illum,
        | voluptatibus natus in sunt temporibus dolore.
    button.content__collapsible(type='button')
      | &Dcy;&ocy;&lcy;&zhcy;&iecy;&ncy; &lcy;&icy; &yacy; &zcy;&acy;&pcy;&rcy;&acy;&vcy;&lcy;&yacy;&tcy;&softcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&softcy;?
    .content__text
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        | ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        | aliquip ex ea commodo consequat.
footer
  p &copy; SkillDrive Inc. 2020
  .footer-icons
    a(href='#')
      img.icon-vk(src='../src/img/footerIcons/vk.svg' alt='логотип вконтакте')
    a(href='#')
      img.icon-insta(src='../src/img/footerIcons/insta.svg' alt='логотип инстаграм')
    a(href='#')
      img.icon-fb(src='../src/img/footerIcons/fb.svg' alt='логотип фейсбук')
